[submodule "CMake/External"]
	path = CMake/External
	url = https://github.com/drescherjm/cmake-modules.git
[submodule "CMake/CMakeGitVersioner"]
	path = CMake/CMakeGitVersioner
	url = https://github.com/symboxtra/cmake-GitVersioner.git
